<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @item[:index] ? '' : "#{h @item[:title]} | " %>WS-REST 2016</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="<%= @item[:title].gsub(/\W/, '').downcase %>">
  <header>
    <h1><a href="/"><strong>WS-REST2016</strong> Workshop on Web APIs and RESTful Design</a></h1>
    <p><a href="http://icwe2016.inf.usi.ch/">International Conference on Web Engineering</a> – 9 June 2016</p>
  </header>
  <nav>
    <ul>
      <% @items.find_all{|c| c[:extension] =~ /^md/ and not c[:index] and not c[:hide]}.
                sort{|a,b| a[:filename] <=> b[:filename]}.
                sort{|a,b| (a[:order] || 10) <=> (b[:order] || 10)}.
                each do |page| %>
        <li<%= @item == page ? ' class="active"' : '' %>><%= link_to page[:title], page %></li>
      <% end %>
    </ul>
  </nav>
  <% if @item[:index] %>
  <aside>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/wsREST" data-widget-id="537891453733990400" data-chrome="transparent noborders">Tweets by @wsREST</a>
    <script src="//platform.twitter.com/widgets.js"></script>
  </aside>
  <% end %>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>
      <a href="/">WS-REST 2016 – Workshop on Web APIs and RESTful Design</a> –
      6 June 2016 – Lugano, Switzerland
    </p>
  </footer>
</body>
</html>
